<!-- wp:group {"className":"socialnetworksix-shell socialnetworksix-shell--no-right","tagName":"div","layout":{"type":"default"}} -->
<div class="wp-block-group socialnetworksix-shell socialnetworksix-shell--no-right is-layout-flow wp-block-group-is-layout-flow">

	<!-- wp:template-part {"slug":"nav-sidebar","theme":"sixarshidsocialcomunity","tagName":"aside","className":"socialnetworksix-sidebar","area":"header"} /-->

	<!-- wp:group {"className":"socialnetworksix-feed socialnetworksix-feed--full","tagName":"main","layout":{"type":"constrained","contentSize":"100%","wideSize":"100%"}} -->
	<main class="wp-block-group socialnetworksix-feed socialnetworksix-feed--full is-layout-constrained wp-block-group-is-layout-constrained">
		<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"100%","wideSize":"100%"}} /-->
	</main>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"bottom-nav","theme":"sixarshidsocialcomunity","tagName":"div","area":"footer"} /-->
<!-- wp:template-part {"slug":"footer","theme":"sixarshidsocialcomunity","tagName":"footer","area":"footer"} /-->
