<!-- wp:group {"className":"socialnetworksix-shell","tagName":"div","layout":{"type":"default"}} -->
<div class="wp-block-group socialnetworksix-shell is-layout-flow wp-block-group-is-layout-flow">

	<!-- wp:template-part {"slug":"nav-sidebar","theme":"social-network-6","tagName":"aside","className":"socialnetworksix-sidebar","area":"header"} /-->

	<!-- wp:group {"className":"socialnetworksix-feed","tagName":"main","layout":{"type":"default"}} -->
	<main class="wp-block-group socialnetworksix-feed is-layout-flow wp-block-group-is-layout-flow">
		<!-- wp:html -->
		<div id="arshid6social-search-root" class="arshid6social-search-wrap"></div>
		<!-- /wp:html -->
	</main>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"right-sidebar","theme":"social-network-6","tagName":"div","className":"socialnetworksix-right","area":"uncategorized"} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"bottom-nav","theme":"social-network-6","tagName":"div","area":"footer"} /-->
<!-- wp:template-part {"slug":"footer","theme":"social-network-6","tagName":"footer","area":"footer"} /-->
